@import "tailwindcss";

:root {
  --pastel-purple: #a28ff5;
  --pastel-indigo: #7f99f5;
  --pastel-lilac: #cba0f5; 
  --pastel-magenta: #f09cf5; 
  --pastel-teal: #75e0f5; 

}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseGlow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

html {
  background-color: #111111;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  background: #111111;
  background: linear-gradient(180deg,rgba(17, 17, 17, 1) 0%, rgb(13, 7, 32) 100%);
  color: #F8F8F8;
}

h1, h2 { 
  font-family: "Caprasimo", Arial, Helvetica, sans-serif;
}

button {
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}